* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #444;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container {
    max-width: 800px;
    margin: 0 auto;
     background-color: gray;
}


#cabecalho {
    display: flex;
    align-items: center;
    min-height: unset;
    gap: 20px;
    padding: 20px;
}

#icon {
    width: 120px;
    border-radius: 50%;
}

h3 {
    font-size: medium;
    text-align: left;
}


.navegacao {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px 20px;
    min-height: unset;
}

.navegacao ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navegacao li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.navegacao li a:hover {
    background: #333;
    color: #fff;
}


section {
    padding: 40px 20px;
    min-height: unset;
}

h2 {
    margin-bottom: 16px;
}

p {
    margin-bottom: 10px;
}


#habilidades ul {
    list-style: disc;
    padding-left: 20px;
}

#habilidades li {
    margin-bottom: 8px;
}


#contato .redes {
     margin-right: 16px;
     width: 80px;
     display: block;
}


footer {
    padding: 20px;
    text-align: center;
    border-top: 2px solid black;
}